.options div.trial {
    align-items: center;
    padding: 15px; 
    cursor: pointer;
    border: 3px solid #cc0000;
    display: inline-flex;
    border-radius: 25px;
 }

 .options div.newgame {
    align-items: center;
    background-color: #0033cc;
    border-radius: 5px;
    border: none;
    padding: 8px;
    color: white;
    cursor: pointer;
 }

 .options div.withfriend {
   align-items: center;
   background-color: #00e600;
   border-radius: 5px;
   border: none;
   padding: 8px;
   color: white;
   cursor: pointer;
 }

 .options h5 {
     margin: 20px 50px 15px 0px;
 }

 .options {
     text-align: center;
     padding-top: 50px;
     padding-left: 50px;
     padding-right: 50px;
 }

 #human:hover:not(.selected) {
      background: #00004d;
      color: #66ffff;
 }
 #robot:hover:not(.selected) {
      background: #00004d; 
      color: #66ffff;
 }
 .options div.trial:hover:not(.selected) {
      background: #00004d;
      color: #66ffff;
 }


 .selected {
     background-color: #cc0000;
 }