.game-board {
    background: #330033;
    opacity: 0.95;
}

body {
    padding: 35px 0px 50px 0px;
    z-index: 0;
    background-image: url('../img/bodybg3.jpg');
}

.game-settings {
    background: #0d0d0d;
    padding-top: 15px;
    font-family: 'Denk One';
    padding-bottom: 20px;
    color: white;
    opacity: 0.90;
}

.dash {
    font-family: 'Denk One';
    font-size: 18px;
}

.human {
    margin-right: 30px;
}

.robot {
    margin-left: 30px;
}

canvas {
    padding: 50px;
    margin: 50px;
    align-items: center;
}

